.dashboard{
    display:grid;
    grid-template-columns:1.5fr 1fr;
    .main-main{
        width:97%;
    }
    .view{
        text-align:center;
        padding:16px;
        border-top: 0.5px solid #D3DDE7;
        span{
            display:inline-block;
            margin-left:15px;
        }
    }
    .item-head{
        padding:18px 32px;
    }
    .item{
        padding:24px 32px;
        border-top: 0.5px solid #D3DDE7;
        display:flex;
        justify-content:space-between;
        font-size:16px;
        .right{
            padding-left:15px;
        }
        small{
            font-size:12px;
            color:#607080;
        }
    }
    section{
        margin-bottom:24px;
    }
    .wallet{
        background:#286BF0;
        color:#fff;
        .balance{
            padding:24px 32px 8px 32px;
            border-bottom:1px solid #fff;
            .font-32{
                margin-top:8px;
            }
        }
        .view{
            border:none;
        }
    }

    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    
    /* mobile portrait */
    @media screen and (max-width:426px){
        grid-template-columns:1fr!important;
        .main-main{
            width:100%;
        }
    }
}