.bank{
    section{
        width:75%;
        .inactive{
            opacity:.25;
        }
        .head{
            padding:32px 32px 24px 32px;
            .font-24{
                margin-bottom:11px;
            }   
        }
        .item{
            display:grid;
            grid-template-columns:1fr 1fr;
            border-top: 0.5px solid #D3DDE7;
            padding:24px 76px 24px 32px;
            .info{
                display:grid;
                grid-template-columns:1fr 9fr;
                img{
                    display:inline-block;
                    width:40px;
                }
                .text{
                    margin-left:16px;
                    display:inline-block;
                    .date{
                        font-size:12px;
                        color:#607080;
                        margin-top:4px;
                    }
                    .account-number{
                        font-size:14px;
                        color:#607080;
                        margin-top:4px;
                    }
                }
            }
            .default{
                margin-top:32px;
                color:#0D8A6A;
            }
            .right{
                text-align:right;
                button{
                    text-align:center;
                }
            }
        }
        .inner-container{
            border-top: 0.5px solid #94A3B3;
            padding:24px 32px 56px 32px;
            form{
                padding-right:223px;
                .head{
                    padding:0 0 22px 0;
                }
            }
            .button-container{
                padding:26px 108px 14px 108px;
            }
        }
    }

    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    
    /* tablet portrait */
    @media screen and (max-width:1024px){
        section{
            .head{
                padding:25px;
                .font-24{
                    margin-bottom:11px;
                }   
            }
            .item{
                padding:25px;
            }
            .inner-container{
                padding:25px;
                form{
                    padding-right:123px;
                }
            }
        }
    }

    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    /* break */
    
    /* mobile portrait */
    @media screen and (max-width:426px){
        section{
            width:100%;
            .head{
                padding:25px;
            }
            .item{
                grid-template-columns:1fr;
                .right{
                    margin-top:30px;
                }
            }
            .inner-container{
                border-top: 0.5px solid #94A3B3;
                padding:25px;
                form{
                    padding-right:0;
                    .head{
                        padding:0 0 22px 0;
                    }
                }
                .button-container{
                    padding:0;
                }
            }
        }
    }
}