.button-footer{
    padding:12px 24px;
    border-radius:4px;
    border:none;
}

button{
    padding:18px 24px;
    border-radius:4px;
    border:none;
    cursor:pointer;
    img{
        width:38px;
        margin:0 0 0 36px;
    }
}


.button-two{
    padding:13px 24px;
    border-radius:4px;
}

.button-icon{
    img{
        width:15px;
        margin:0 0 0 32px;
    }
}

.button-icon-two{
    padding:7px 8px;
    img{
        width:15px;
        margin:0 11px 0 0;
    }
}

.button-three{
    padding:9px 24px;
    border-radius:4px;
}

.button-four{
    padding:4px 16px;
    border-radius:4px;
}

.button-five{
    padding:17px 66.5px;
    border-radius:4px;
    margin-bottom:10px;
}

.button-six{
    padding:6px 16px;
    border-radius:4px;
}

/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */

/* mobile */
@media screen and (max-width:426px){
    .button-two{
        width:100%;
    }
    .button-three{
        width:100%;
    }
    .button-icon{
        width:100%;
        img{
            width:15px;
            margin:0 0 0 10px;
        }
    }

    .button-five{
        width:100%;
    }
}