.footer{
    padding:80px 70px;
    color:#1B314B;
    font-size:16px;
    width:100%;
}
.footer .content{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
}
.footer .head{
    color:#0C56E9;
    margin-bottom:24px;
    font-weight:bolder;
}
.footer ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
.footer ul li{
    margin-bottom:16px;
}
.footer .socials img{
    margin-right:24px;
    width:40px;
}

.footer .subscribe{
    margin-top:48px;
    display:grid;
    grid-template-columns:1fr 4fr;
}
.footer .subscribe .input{
    border: 1px solid #9ABAF9;
    border-radius:4px;
    width:40%;
    margin-top:4px;
}
.footer .subscribe .input input{
    background:none;
    border:none;
    padding:12px 22px;
    width:60%;
}
.footer .subscribe .input button{
    float:right;
}


.footer .extras{
    margin-top:80px;
}
.footer .extras .item{
    display:inline-block;
    margin-right:16px;
}

/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */

/* tablet portrait */
@media screen and (max-width:1024px){
    .footer{
        padding:50px 30px;
    }
    .footer .content{
        display:grid;
        grid-template-columns:.75fr 1fr 1fr 1fr 1fr;
    }
    .footer .item{
        margin-bottom:50px;
    }
    .footer .head{
        margin-bottom:15px;
    }
    .footer ul li{
        margin-bottom:15px;
    }

    .footer .subscribe{
        margin-top:50px;
        display:grid;
        grid-template-columns:1fr;
    }
    .footer .subscribe .input{
        width:40%;
    }
    
    
    .footer .extras{
        margin-top:50px;
    }
    .footer .extras .item{
        display:inline-block;
        margin-right:20px;
    }
}


/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */

/* mobile */
@media screen and (max-width:426px){
    .footer{
        padding:50px 30px;
    }
    .footer .content{
        display:grid;
        grid-template-columns:1fr;
    }
    .footer .item{
        margin-bottom:50px;
    }
    .footer .head{
        margin-bottom:15px;
    }
    .footer ul li{
        margin-bottom:15px;
    }

    .footer .subscribe{
        margin-top:50px;
        display:grid;
        grid-template-columns:1fr;
    }
    .footer .subscribe .input{
        width:80%;
    }
    .footer .subscribe .input input{
        width:40%;
    }
    .footer .subscribe .input button{
        float:right;
    }
    
    
    .footer .extras{
        margin-top:50px;
    }
    .footer .extras .item{
        display:block;
        margin:15px 0 0 0;
    }
}