.text-input{
    margin-bottom:25px;
    text-align:left;
    .label{
        margin-bottom:8px;
        color:#607080;
    }
    input{
        border: 1px solid #607080;
        box-sizing: border-box;
        border-radius: 4px;
        padding:15px;
        width:100%;
    }
    textarea{
        height:168px;
        border: 1px solid #607080;
        box-sizing: border-box;
        border-radius: 4px;
        padding:15px;
        width:100%;
    }
}

.text-input-double{
    display:inline-block;
    width:49%;
    input{
        width:100%;
    }
}

/* text input naira */
.text-input-naira{
    padding:15px;
    border: 1px solid #607080;
    box-sizing: border-box;
    border-radius: 4px;
    display:inline-block;
    width:100%;
    font-size:14px;
    color:#607080;
    input{
        border:none;
        display:inline-block;
        width:75%;
        padding:0;
    }
}

/* radio input */
.radio-input{
    text-align:left;
    input{
        margin:0 16px 0 0;
        padding:0;
        cursor:pointer;
    }
    img{
        margin:0 16px 0 0;
        padding:0;
        position:relative;
        z-index:-10;
    }
    span{
        position:relative;
        z-index:-10;
    }
}


.phone-input{
    margin-bottom:25px;
    text-align:left;
    .label{
        margin-bottom:8px;
        color:#607080;
    }
    input{
        border: 1px solid #729FF8;
        box-sizing: border-box;
        border-radius: 4px;
        padding:15px;
        width:100%;
    }
    .number{
        width:15%;
        text-align:right;
    }
    .phone{
        width:84%;
    }
    .phone-input-container{
        display:flex;
        justify-content:space-between;
    }
}

/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */

/* mobile */
@media screen and (max-width:426px){
    .text-input-double{
        display:block;
        width:100%;
    }


    .phone-input{
        margin-bottom:25px;
        text-align:left;
        .label{
            margin-bottom:8px;
            color:#607080;
        }
        input{
            border: 1px solid #729FF8;
            box-sizing: border-box;
            border-radius: 4px;
            padding:15px;
            width:100%;
        }
        .number{
            width:25%;
            text-align:right;
        }
        .phone{
            width:73%;
        }
        .phone-input-container{
            display:flex;
            justify-content:space-between;
        }
    }
}