.modal-profile-container{
    position:fixed;
    top:-100vh;
    left:0;
    width:100vw;
    height:100vh;
    min-height:100vh;
    padding-bottom:150px!important;
    margin-bottom:150px!important;
    transition:.5s ease-in-out all;
    .background{
        background:rgba(0,0,0,.5);
        position:fixed;
        bottom:-100vh;
        left:0;
        width:100vw;
        height:100vh;
        z-index:100;
        transition:.5s ease-in-out all;
    }
    .modal-profile-content{
        width:358px;
        background:#fff;
        border-radius:4px;
        padding:27px 22px 24px 22px;
        position:absolute;
        right:75px;
        z-index:1000;
        top:0;
        transition:.5s ease-in-out all;
        .head{
            text-align:center;
            padding:0 15px;
            margin-bottom:17px;
            .image{
                background:grey;
                border: 2px solid #729FF8;
                margin:0 auto 17px auto;
                width:72px;
                height:72px;
                border-radius:72px;
            }
        }
        .item{
            padding:18px 12px;
            border-top: 1px solid #E0E0E0;
            img{
                width:24px;
                margin-right:32px;
            }
            .active{
                color:#0C56E9;
            }
        }
        .action{
            border-top:1px solid #E0E0E0;
            padding-top:18px;
            text-align:center;
        }
        .button-container{
            display:flex;
            justify-content: space-between;
            margin-top:16px;
        }
    }
}

.modal-profile-container-open{
    transition:.5s ease-in-out all;
    position:absolute;
    top:0;
    padding-bottom:150px;
    margin-bottom:150px;
    .background{
        z-index:100;
        bottom:0;
        transition:.5s ease-in-out all;
    }
    .modal-profile-content{
        z-index:1000;
        top:100px;
        transition:.5s ease-in-out all;
        margin-bottom:150px;
    }
}

/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */

/* tablet portrait */
@media screen and (max-width:1024px){
    .modal-profile-container{
        .modal-profile-content{
            width:358px;
            right:25px;
        }
    }
}

/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */

/* mobile portrait */
@media screen and (max-width:426px){
    .modal-profile-container{
        .modal-profile-content{
            width:80%;
            right:5%;
        }
    }
}