.reports{
    display:grid;
    grid-template-columns: 3fr 1fr;
    .main-main{
        width:97.5%;
        .total-revenue{
            .head{
                padding:32px 32px 18px 32px;
                .font-32{
                    color:#0C56E9;
                    margin-bottom:18px;
                }
            }
        }
    }
    .generate-report{
        padding:24px 16px 16px 16px;
        text-align:center;
        .font-16{
            padding:0 30px 25px 30px;
        }
    }
}